html, body {
  font-family: Noto Sans;
  background-color: #3fa6eb
  /*background-image: url("../images/drone.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;*/
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgba(0, 0, 0, 0.678);
  transition: color 0.25s ease-in;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}